.btn.btn-success {
  background-color: #BDEA09;
  color: black;
  border: 1px solid #BDEA09;
  width: 100px;
  margin-left: 20px;
}

.btn.btn-success:hover {
  background-color: #509745;
  color: white;
  border: 1px solid #509745;
}

.btn-danger {
  background-color: #ff4300;
  color: white;
  border: 1px solid #ff4300;
  margin-left: -80px;
}

.btn-danger:hover {
  background-color: #D5451A;
  border: 1px solid #D5451A;
}
